.App {
  text-align: center;
  font-family: 'Poppins'
}
.h1-text{
  color: #ffffff !important;
  display: flex;
  z-index: 1;
  gap: '4px';
  text-align: center;
  position: relative;
  font-size: 50px;
  justify-content: space-around;
}

.footer-text{
  bottom: 0;
  color: #ffffff !important;
  display: flex;
  z-index: 1;
  gap: '4px';
  text-align: center;
  position: relative !important;
  font-size: 20px;
  justify-content: space-around;
}